# Build artifacts
bin/
obj/
out/
artifacts/
publish/
*.msi
*.wixpdb
*.exe
*.dll
*.pdb
*.zip
*.nupkg
*.snupkg
*.tmp
*.temp
*.log
*.cache

# IDE
.vscode/
.idea/
*.user
*.suo
*.userosscache
*.sln.docstates

# OS
Thumbs.db
Desktop.ini
.DS_Store
